[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Flask-Testing = "==0.7.1"
pytest = "5.1.1"

[packages]
psycopg2-binary = "==2.7.7"
Flask = "==2.2.5"
Flask-RESTful = "==0.3.7"
Flask-SQLAlchemy = "==2.3.2"



[requires]
python_version = "3.7"
